h1{
    color: red;
    height: 60px;
    background-color: black;
    text-align: center;
    text-shadow: 3px 12px 12px aqua;
}
p{font-weight: bold}
.home{background-color: gray;
display: flex;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
}

img{
    margin-right: 30px;
    border-radius: 10px;

;
}
.home:hover{background-color: burlywood}