<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css'  %}">
</head>
<body>
<h1>Gallery Section</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur deleniti dolorum et eum iste laboriosam minus modi, mollitia obcaecati, perferendis placeat quas recusandae unde. A debitis dolore nesciunt quam voluptas!</span><span>Accusamus aut, deserunt eaque eos esse est facilis impedit labore molestias nam necessitatibus obcaecati odio quas quidem quis tempora voluptates. Alias architecto ducimus earum et ipsum laudantium, maxime ratione rerum?</span></p>


<img src="{% static 'assets/images/2.jpeg' %}" alt="">
<img src="{% static 'assets/images/3.jpeg' %}" alt="">
<img src="{% static 'assets/images/4.jpeg' %}" alt="">
<img src="{% static 'assets/images/5.jpeg' %}" alt="">

</body>
</html>