<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>ELIMU APP</h1>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, libero totam? Atque aut beatae facilis incidunt iure maxime nemo nisi, pariatur praesentium quibusdam recusandae, rem saepe soluta. Odio praesentium, voluptatibus.</span><span>Dolor dolores ducimus enim et hic odit officiis perferendis placeat qui quo tenetur, veritatis, voluptas! Ab at expedita ipsam iure possimus, praesentium repellendus. Eaque eligendi nulla, praesentium quasi quia sequi?</span></p>
<div class="home">
    <img src="{% static 'assets/images/1.jpeg' %}" alt="">
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dicta dolore, eius hic quas quidem ratione recusandae repellendus soluta sunt suscipit totam! Animi autem, commodi dolor eligendi explicabo tempora! Suscipit!</span><span>Architecto eius error esse eveniet excepturi explicabo fugiat inventore iusto magni maxime mollitia natus nisi nostrum odit, officia provident quaerat quasi quod sapiente sed, tempore temporibus ullam. Nihil, porro, quia?</span></p>

</div>


</body>
</html>